@tailwind base;

@tailwind components;

@tailwind utilities;



/*testimonials*/
*{

font-family: "montserrat",sans-serif;
 }

.testimonials{
    padding: 40px 0;
    text-align: center;
}
h1{
	font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline #4B0082 6px;
}

 .inner{
    max-width: 1200px;
    margin:  auto; 
    overflow: hidden;
   padding: 0 20px;
    
 
}
.border{
    width:160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row{
    display: flex;
	justify-content: center;
}
.personal-info{
	display: flex;
}

.col{
    background-color: white;
    margin-top: 26px;
    margin-bottom: 10px;
    flex: 25%;
    max-width: 24.3%;
    box-sizing: border-box;
    padding: 15px;
    margin-left: 9%;

}


.testimonial{
    background: #fff;
	padding: 30px;
	display: flex;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
} 
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;

}
.stars{
    color: #6ab46a;
    margin-bottom: 20px;
}







/* Custom Classes */
/* Custom Classes */
/*Skills*/
.Skills-page{
   
	padding: 10%;
	
	align-items: center;
}


.Circular-Skills{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10%;
	row-gap: 10%;
	width:33%; 
	padding:10;	
}

.companies-title{
	display: flex;
	justify-content: center;
	color: white;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px violet, 0 0 20px violet, 0 0 25px violet, 0 0 30px violet, 0 0 35px violet;
	width: 33%;	
	text-align: center;
	font-size:80px;
}
  

.companies img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0px 0px 12px gray;}

.companies{
	margin-top: 36px;
	width: 33%;
}

.TextRotate {
    transform: rotate(90deg);
}

/* .companies img:hover{
	transform: scale(1.5);
	} */
.first-row{
		align-items: center;
		margin-left: 36%; 
}
.second-row{
	display: flex;
	column-gap: 50px; 
	margin-left: 15%;
	

}
.third-row{
	display: flex;
	margin-top: 10px;
	column-gap: 35px; 

}

body {
	margin: 0;
	overflow-x: hidden;
}

.z-neg {
	z-index: -1;
}

.top-25vh {
	top: 25vh;
}

.top-30 {
	top: -30px;
}

.bottom-4 {
	bottom: 2.5rem;
}

.laptop-bg {
	height: 600px;
	width: 800px;
}

.laptop-bg-slide {
	height: 21.25rem;
	margin-top: 2.375rem;
	width: 70%;
}

.sitting {
	bottom: 35px;
	left: 50px;
}

.bg-video {
	position: absolute;
	/* top: calc(50% - 35vh); */
	width: 100%;
	top: 0;
	/* left: 50%; */
	/* top: 50%; */
	height: 550px;
	object-fit: cover;
	/* transform: translate(-50%, -50%); */
	z-index: -2;
}

.min-width-25 {
	min-width: 450px;
}

/* .custom-shape-divider-top-1605383627 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: -1;
}

.custom-shape-divider-top-1605383627 svg {
	position: relative;
	display: block;
	width: calc(176% + 1.3px);
	height: 311px;
}

.custom-shape-divider-top-1605383627 .shape-fill {
	fill: #360167;
	opacity: 0.75;
}
			<div class="custom-shape-divider-top-1605383627">
				<svg
					data-name="Layer 1"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 1200 120"
					preserveAspectRatio="none"
				>
					<path
						d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
						class="shape-fill"
					></path>
				</svg>
			</div> */
