@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Classes */

body {
	margin: 0;
	overflow-x: hidden;
}

.z-neg {
	z-index: -1;
}

.top-25vh {
	top: 25vh;
}

.top-30 {
	top: -30px;
}

.bottom-4 {
	bottom: 2.5rem;
}

.laptop-bg {
	height: 600px;
	width: 800px;
}

.laptop-bg-slide {
	height: 21.25rem;
	margin-top: 2.375rem;
	width: 70%;
}

.sitting {
	bottom: 35px;
	left: 50px;
}

.bg-video {
	position: absolute;
	/* top: calc(50% - 35vh); */
	width: 100%;
	top: 0;
	/* left: 50%; */
	/* top: 50%; */
	height: 550px;
	object-fit: cover;
	/* transform: translate(-50%, -50%); */
	z-index: -2;
}

.min-width-25 {
	min-width: 450px;
}

/* .custom-shape-divider-top-1605383627 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: -1;
}

.custom-shape-divider-top-1605383627 svg {
	position: relative;
	display: block;
	width: calc(176% + 1.3px);
	height: 311px;
}

.custom-shape-divider-top-1605383627 .shape-fill {
	fill: #360167;
	opacity: 0.75;
}
			<div class="custom-shape-divider-top-1605383627">
				<svg
					data-name="Layer 1"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 1200 120"
					preserveAspectRatio="none"
				>
					<path
						d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
						class="shape-fill"
					></path>
				</svg>
			</div> */
